<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{
        @* Register registee = new Register(){FirstName= "Jonathon", LastName= "Song", Email = "jonsong94@yahoo.com", Password = "password1"}; *@
    }
    
    <h1>Success</h1>
    <partial name = "RegisterResult"/>
    <partial name = "LoginResult"/>
</body>
</html>