<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <form action="post" method="POST">
            <span>Your Name: </span><input type="text" name="name">
            <span>Dojo Location: </span><select name="location">
                <option>Dallas</option>
                <option>Los Angeles</option>
                <option>Chicago</option>
            </select>
            <span>Favorite Language: </span><select name="language">
                <option>C#</option>
                <option>Java</option>
                <option>Angular</option>
                <option>React</option>
                <option>Python</option>
                <option>Ruby</option>
            </select>
            <span>Comments: </span><textarea cols="7" row="2" name="comments"></textarea>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>