@model string
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>Random passcode (passcode # @ViewBag.count)</h5>
    @{
        <p>@Model</p>
    }
    <form action = "/generate" method = "Post">
        <input type = "submit" Value = "Submit">
    </form>
</body>
</html>