<html>
    <head></head>
    <body>
        <div>
            <u><a href="/">Home</a></u>
            <u><a href="/projects">Projects</a></u>
            <u><a href="/contact">Contact</a></u>

            <form>
                <span>Name: </span><input type="text">
                <span>Email: </span><input type="text">
                <span>Message: </span><textarea cols = "7" rows="2"></textarea>


                <input type="button" value="Submit">
            </form>
        </div>
    </body>
</html